@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");
:root {
  --primary-color: #9953c0;
  --bg-color: #1e1a1e;
  --text-color: #f5ecf8;
  --bg-alt: rgb(47, 47, 47);
  --font-w-200: 200;
  --font-w-400: 400;
  --font-w-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Kanit", sans-serif;
}

.body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.container {
  max-width: 768px;
  margin: auto;
}

ul {
  list-style: none;
}

.disable {
  font-weight: var(--font-w-200);
  color: gray;
}

.disable__icon {
  fill: gray;
}

a {
  text-decoration: none;
}

.fill__primary {
  fill: var(--primary-color);
}

.main {
  padding: 2rem 5rem;
}

@media (max-width: 425px) {
  .main {
    padding: 2rem 1rem;
  }
}
