@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap");
:root {
  --primary-color: #9953c0;
  --bg-color: #140e14;
  --text-color: #f5ecf8;
  --font-w-200: 200;
  --font-w-400: 400;
  --font-w-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Kanit", sans-serif;
}

.body {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.container {
  max-width: 768px;
  margin: auto;
}

ul {
  list-style: none;
}

.disable {
  font-weight: var(--font-w-200);
  color: gray;
}

.disable__icon {
  fill: gray;
}

a {
  text-decoration: none;
}
